@keyframes swim1 {
    0% { transform: translate(0, 0); }
    25% { transform: translate(50px, -30px); }
    50% { transform: translate(-40px, 20px); }
    75% { transform: translate(30px, 40px); }
    100% { transform: translate(0, 0); }
}

@keyframes swim2 {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-50px, 40px); }
    50% { transform: translate(35px, -25px); }
    75% { transform: translate(-30px, 50px); }
    100% { transform: translate(0, 0); }
}

@media only screen and (max-width: 480px) {
    .bubble {
      width: 30vw;
      height: 30vw;
      font-size: 4vw;
    }
}

@media only screen and (max-width: 768px) {
    .bubble {
      width: 30vw;
      height: 30vw;
      font-size: 4vw;
    }
}


.bubble {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    width: 15vw;
    height: 15vw;
    font-size: 2vw;
    animation: infinite;
}