.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    position: relative;
}

h1 {
    font-size: 5vw;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 10vw;
    }

    .start-button {
        font-size: 3vw !important;
        padding: 1.5% 2% !important;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 10vw;
    }

    .start-button {
        font-size: 3vw !important;
        padding: 1.5% 2% !important;
    }
}

.start-button {
    padding: 0.5% 1%;
    color: white;
    font-size: 1vw;
    font-family: 'Karla', sans-serif;
    background-color: var(--color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #1E1F4E;
}