:root {
  --bg-color: #F5F7FB;
  --color: #293264;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  height: 100%;
  background-color: var(--bg-color);
  margin: 0;
  overflow: auto;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Karla', sans-serif;
  color: var(--color);
}
p {
  font-family: 'Inter'
}

.bubble {
  z-index: 900;
}